.landing_app {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.landing_app_box {
    width: min(100%, 500px);
    animation: animate-div .5s;
}

.landing_app_box_logo {
    font-weight: 400;
    text-align: center;
    color: var(--font-2);
}

.landing_app_box_logo h2 {
    margin-top: 1rem;
}

.landing_app_box_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.landing_app_box_form_control{
    width: min(100%, 450px) !important;
    margin-bottom: 1rem;
    animation: left .5s;
}

.input_user{
    height: 55px ;
    color: var(--font-2);
    font-size: 18px;
}

.input_user_ico{
    margin-right: 1rem;
    font-size: 16px;
}

.landing_app_box_form_control input{
    color: var(--font-2) !important;
}