.form_app{
    margin-top: 1.5rem;
}

.form_app_control{
    width: 100%;
    margin-top: 1.5rem;
}

.form_app_control label{
    width: 100%;
    color: var(--font-1);
    font-weight: 600;
}

.form_app_select{
    width: 100% !important; 
    margin-top: .8rem;
}